<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{title}}</title>
        <link href="style.css" rel="stylesheet">
        <script src="script.js" type="text/javascript"></script>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;
            }

            svg {
                height: 1000px;
                width: 100%;
            }

            .graph{
               border:solid 1px red;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <table class="container">
                {% for key, value in eval_dic.items() %}
                <tr>
                    <th>{{key}}</th>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}

                {% for key, value in params_dic.items() %}
                <tr>
                    <th>{{key}}</th>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </table>

            <div class="container graph">
                <h3 style="text-align: center">{{title}}</h3>
                {{svg}}
            </div>

        </div>
    </body>
</html>